extends base.pug
include mixins/video.pug

block content 
    form(method="GET").search__form
        input(placeholder="Search by title", type="text", name="keyword")
        button 
            i.fa-regular.fa-magnifying-glass
    div.video-grid
        each video in videos 
            +video(video)
        else 
            if keyword == undefined
                span.empty__message Initsearch
            else 
                span.empty__message No Videos Found